#body{
	background-image: url('image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	}
#startpage{
	display: table;
	min-height: 400px;
	width: 99%;
	padding-top: 100px;
	text-align: center; 
	font-size: 48pt;
	font-family:Verdana;
	font-style: bold;
	text-shadow: 2px 2px 8px aquamarine;

	}
#tab {
    overflow: hidden;
	margin-left: 25px;
	border-bottom: 1pt solid #000;
	max-width: 210px;
	min-width: 210px;
}
#tab button {
    background-color: rgba(216, 210, 210, 0.822);;
    float: left;
	border: 1px solid #000;
	border-radius: 5px;
    outline: none;
    padding: 15px 15px;
    transition: 0.3s;
}

#tab button:hover {
    background-color: rgb(12, 214, 79);
}

#tab button.active {
	background-color: rgb(3, 145, 66);
	border-bottom: none;
}

.tabcontent {
    display: none;
	height: 1000px;
	text-align: center;
	background-color: rgba(216, 210, 210, 0.822);
	border-radius: 10px;
    padding: 6px;
	margin-top: -2px;
   	border: 1px solid rgb(59, 55, 55);
	width: 99%;
}
.field{
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 5px;
}
#addButton{
	display: inline-block;
	font-size: small;
	margin-left: 20px;
	background-color:  rgb(3, 145, 66);
	border: 1px solid rgb(71, 69, 69);
}
#saveButton{
	display: none;
	float: right;
	margin-right: 450px;
	margin-top: 50px;
}
#fsaveButton{
	float: right;
	margin-right: -100px;
	margin-top: 20px;
}

#search{
	margin: 50px;
	margin-left: -100px;
	max-width: 1200px;
	min-width: 1200px;
}
#adminbody{
	display: none;
	position: relative;
	text-align: center;
	margin-left: 30px;
}
#formbody{
	display: none;
	margin-top: 30px;
	float: left;
}
.formEl{
	display: table;
	margin-left: 200px;	
}
.inputtype{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
}
#version{
	width: 30px;
}

#forms{
	margin-left: 300px;
}
.section{
	display: table;
	margin-left: 50px;
}

.optionsPlaceholder{
	display: none;
	position: relative;
	text-align: center;
	margin-left: -230px;
	margin-top: 10px;
	margin-bottom: 10px;
	min-width: 800px;
}
.rbNumber{
	display: none;
	margin-left: 5px;
	margin-right: 5px;
}


.rblabel{
	display: inline-table;
	text-align: left;
	padding: 5px;	
	margin-left: 265px;
}
.fradiobuttons{
	display: inline-table;
	text-align: left;
	padding: 5px;	
}